network:
    version: 2
    renderer: networkd
    ethernets:
        {{nic_ext}}:
            dhcp4: yes
        {{nic_int}}:
            dhcp4: no
            dhcp6: no
            addresses: [{{ansible_host}}/16]
