---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: edge-nginx
spec:
  selector:
    matchLabels:
      run: edge-nginx
  replicas: 1
  template:
    metadata:
      labels:
        run: edge-nginx
    spec:
      containers:
      - name: edge-nginx
        image: nginx
        ports:
        - containerPort: 80
        volumeMounts:
          - mountPath: /usr/share/nginx/html
            name: html
      volumes:
      - name: html
        hostPath:
          path: /home/pi/edge/webhome/
---
apiVersion: v1
kind: Service
metadata:
  name: edge-nginx
  labels:
    run: edge-nginx
spec:
  type: LoadBalancer
  ports:
  - port: 5000
    targetPort: 80
    protocol: TCP
  selector:
    run: edge-nginx
